* {
    font-family: "Montserrat", sans-serif;
}

#logo {
    position: fixed;
    top: 35px;
    left: 15px;
    /* position from: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
    z-index: 50;
    /* z-index (to place logo in front of navbar) (used the no. 50 so that if I wish to stack other components behind it, I could do it with ease) 
    from: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
    margin-right: 1200px;
    margin-left: 35px;
    width: fit-content;
    font-family: "Limelight", cursive;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 6px solid black;
    box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;
    /* box shadow from: https://www.w3schools.com/css/css3_shadows_box.asp */
}

#navbar {
    position: fixed;
    top: 65px;
    z-index: 49;

    background-color: white;
    border-bottom: 5px solid black;
    border-top: 4px solid black;
}

a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.fa {
    position: relative;
    margin-left: 100px;
    padding: 20px;
    color: #7B68EE;
}

#tagline {
    margin-top: 210px;
    margin-bottom: 50px;

    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.map {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: both;
}

input[type=submit] {
    background-color: #7B68EE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00FA9A;
}

.container {
    margin-bottom: 90px;

    width: 150px;
    height: fit-content;
    background-color: #f2f2f2;
    padding: 20px;
    border: 6px solid black;
    box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;
}

#navbar2 {
    position: fixed;
    z-index: 48;
    height: 75px;
    background-color: #7B68EE;
}

#icons {
    margin: 20px;
}

#copyright {
    margin-top: 17px;

    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
}