#logo {
    position: fixed;
    top: 35px;
    left: 15px;
    /* position from: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
    z-index: 50;
    /* z-index (to place logo in front of navbar) (used the no. 50 so that if I wish to stack other components behind it, I could do it with ease) 
  from: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
    margin-right: 1200px;
    margin-left: 35px;
    width: fit-content;
    font-family: "Limelight", cursive;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 6px solid black;
    box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;
    /* box shadow from: https://www.w3schools.com/css/css3_shadows_box.asp */
}

#navbar {
    position: fixed;
    top: 65px;
    z-index: 49;

    background-color: white;
    border-bottom: 5px solid black;
    border-top: 4px solid black;
}

a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.profile-img {
    border-bottom: 20px solid black;
    border-right: 20px solid black;
    border: 6px solid black;
    box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;

    height: 100%;
    object-fit: contain;
}

h1 {
    position: relative;
    left: 10px;
    bottom: -10px;
    font-family: "Limelight";
    font-size: 18px;

}

.profiles {
    height: 200px;
    width: 200px;
}

#imagesection {
    margin-left: 140px;
    margin-top: 210px;
    margin-bottom: 130px;
}

#navbar2 {
    position: fixed;
    z-index: 48;

    height: 75px;
    background-color: #7B68EE;
}

#copyright {
    margin-top: 17px;

    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: white;
}

#icons {
    margin: 20px;
}