#logo {
  position: fixed;
  top: 35px;
  left: 15px;
  /* position from: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
  z-index: 50;
  /* z-index (to place logo in front of navbar) (used the no. 50 so that if I wish to stack other components behind it, I could do it with ease) 
from: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
  margin-right: 1200px;
  margin-left: 35px;
  width: fit-content;
  font-family: "Limelight", cursive;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: 6px solid black;
  box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;
  /* box shadow from: https://www.w3schools.com/css/css3_shadows_box.asp */
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {}

#navbar {
  /* top navbar */
  position: fixed;
  top: 65px;
  z-index: 49;

  background-color: white;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

#navbar2 {
  /* bottom navbar */
  position: fixed;
  z-index: 48;

  height: 75px;
  background-color: #7B68EE;
}

#icons {
  margin: 20px;
}

hr {
  border: 5px solid black;
  margin: 0px;
}

#copyright {
  margin-top: 17px;

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: white;
}

#carousel-images {
  height: 685px;
}

.carousel-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

#controls {
  color: white;
}

#welcome {
  position: absolute;
  z-index: 47;

  margin-top: 460px;

  padding: 8px;
  width: fit-content;
  font-family: "Limelight", cursive;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: 6px solid black;
  box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;
}

#section1 {
  margin-top: 50px;
}

#about {
  padding-top: 8px;

  width: fit-content;
  font-family: "Limelight", cursive;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border: 6px solid black;
  box-shadow: 10px 10px black, -0.5em 0 0.4em #7B68EE;
}

#subtitles {
  margin-top: 30px;

  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  border: 6px solid black;
}

#description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 50px;
  line-height: 35px;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

#section2 {
  margin-top: 90px;
  margin-bottom: 130px
}

#rows {
  margin-top: 80px;
}

#sponsors {
  margin-top: 85px;

  background-color: #00FA9A;
  opacity: 0.9;
}